@import '~antd/dist/antd.css';

html, body, #root, #root>div {
  height: 100vh;
}

.page-container {
  display: flex;
  background: #fafafa;
}

.home .page-container {
  background: #fafafa;
}

.page-container-inner {
  margin-left: auto;
  margin-right: auto;
}

.page-content {
  min-height: 100vh;
  max-width: 100vw;
  border: 1px solid #e8e8e8;
  border-top-width: 0;
  border-bottom-width: 0;
  border-left-width: 1px;
  border-right-width: 1px;
}

.page-content .ant-layout {
  background-color: #FFFFFF;
}

.page-content .ant-layout-footer {
  background: none;
}

.home .page-content {
  border: 0;
}

.content {
  padding: 2em;
  max-width: 900px;
  width: 100%;
  height: 100%;
}
